@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary-color: rgb(39, 39, 39);
$secondary-color: rgb(255, 255, 255);
$accent-color: rgb(255, 84, 0);
$accent-shade: rgb(250, 123, 60);
$blue: rgb(50, 128, 245);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.desktop-max {
  max-width: 1280px;
  margin: 0 auto;
}

@mixin glassmorphism($blur) {
  backdrop-filter: blur($blur) saturate(180%);
  -webkit-backdrop-filter: blur($blur) saturate(180%);
  background-color: rgba($primary-color, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

@mixin gird($width) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min($width, 100%), 1fr));
  gap: 1.3em;
}

@mixin header() {
  display: flex;
  justify-content: space-between;
  background-color: rgba($primary-color, 0.8);
  width: 95%;
  padding: 0.4em 1em;
  margin: 0 auto;
  border-radius: 0.5em;
}

@mixin imageCircle() {
  width: 3em;
  height: 3em;
  overflow: hidden;
  border-radius: 50%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: $primary-color;

  .ham-bar {
    color: $secondary-color;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    z-index: 11;
  }

  img {
    width: 100%;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  header {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0 88%);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 1em;

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: red;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 10%,
        rgba(0, 0, 0, 0)
      );
    }

    nav {
      padding-top: 0.4em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      position: relative;

      .logo-container {
        width: 6em;
        height: 3em;
      }

      .main-menu {
        display: flex;
        flex-wrap: wrap;
      }

      .menu-item {
        margin: 0.5em 0.7em;
        font-size: 1.4rem;
        a {
          color: $secondary-color;
        }
      }

      .mobile-main-menu {
        position: absolute;
        // background: red;
        top: 0;
        right: -4%;
        z-index: 10;
        width: min(14em, 100%);
        overflow: hidden;
        display: none;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: clip-path 0.5s;
        @include glassmorphism(5px);

        .menu-item,
        .mobile-icon {
          margin: 1.5em 1em;
          transform: translateX(50%);
          opacity: 0;
          transition: 0.5s;
        }

        .menu-item-active {
          transform: translateX(0);
          opacity: 1;
        }

        .mobile-icon a {
          margin: 0 0.5em;
        }
      }

      .mobile-main-menu-active {
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
      }

      .icons {
        font-size: 1.8rem;

        .fa-cart-shopping {
          color: $secondary-color;
          margin-right: 0.8em;
        }

        .fa-user {
          color: $blue;
        }
      }

      @media only screen and (max-width: 700px) {
        .main-menu,
        .icons {
          display: none;
        }

        .ham-bar {
          display: block;
        }

        .mobile-main-menu {
          display: block;
        }
      }
    }

    .utility-container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 6;

      .utility-bar {
        width: min(38em, 100%);
        height: 3.5em;
        border-radius: 2em;
        overflow: hidden;
        @include glassmorphism(5px);
        position: relative;

        .search-bar {
          background: linear-gradient(188deg, $accent-color, $accent-shade);
          clip-path: circle(0% at 50% 50%);
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 0.8em;
          position: relative;
          z-index: 4;
          transition: clip-path 0.5s;

          input {
            height: 100%;
            width: 73%;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 1.6rem;
            color: $secondary-color;
            padding-left: 0.4em;
          }

          input::placeholder {
            color: rgba($secondary-color, 0.5);
          }

          a {
            font-size: 1.3rem;
            color: $secondary-color;
          }
        }

        .search-bar-active {
          clip-path: circle(75% at 50% 50%);
        }

        .options-container {
          color: white;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: red;

          .options {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;

            .option-item {
              margin: 0 1em;
              transition: transform 0.3s;
              a {
                color: $secondary-color;

                .fa-angle-down {
                  color: rgba($secondary-color, 0.5);
                  font-size: 1.4rem;
                }
              }
            }

            .option-item-hide {
              transform: translateY(-150%);
            }
          }

          .search-btn {
            background: linear-gradient(188deg, $accent-color, $accent-shade);
            width: 3.4em;
            height: 3.4em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }

      .fa-x {
        color: $secondary-color;
        margin-left: 0.8em;
        font-weight: 900;
        cursor: pointer;
        visibility: hidden;
        position: relative;
      }
    }

    .banner-text {
      width: min(70em, 100%);
      padding: 5em 0 16em;
      position: relative;

      .count-down {
        background-color: rgba($primary-color, 1);
        width: max-content;
        padding: 0.2em 0.5em;
        color: $secondary-color;
        border-radius: 0.2em;
        font-size: 1.3rem;
      }

      .header-title {
        word-wrap: break-word;
        max-width: 13em;
        font-size: clamp(2.3rem, 2.1vw, 3rem);
        line-height: 1.4;
        margin: 0.5em 0;
        color: $secondary-color;
      }

      .price-wrapper {
        display: flex;
        align-items: center;

        .discount {
          border-bottom: 29px solid $accent-color;
          border-right: 10px solid transparent;
          height: 5px;
          width: 57px;
          border-radius: 0.3em;
          position: relative;
          margin-right: 1em;
          border-radius: 0.4em;
        }

        .discount::after {
          content: "-25%";
          position: absolute;
          color: $secondary-color;
          left: 0.5em;
          top: 0.2em;
        }

        .price {
          color: $secondary-color;
          font-size: 3rem;
        }
      }
    }

    .mobile-options-container {
      background: red;
      margin: 0.5em 0 0;
      border-radius: 0.5em;
      padding: 1em;
      overflow: hidden;
      z-index: 8;
      position: absolute;
      width: min(40em, 100%);
      left: 50%;
      transform: translateX(-50%);
      @include glassmorphism(5px);
      clip-path: polygon(100% 0, 0 0, 0 0, 100% 0);
      transition: clip-path 0.5s;

      .mobile-options {
        // background-color: green;
        .mobile-option-item {
          margin: 1em 0;
          transform: translateX(50%);
          opacity: 0;
          transition: 0.5s;

          a {
            color: $secondary-color;
          }
        }

        .mobile-option-item-active {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }

    .mobile-options-container-active {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }

    .modal-container-active {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }

  main {
    .modal-container {
      position: absolute;
      width: min(40em, 100%);
      margin: 1em auto 0;
      overflow: hidden;
      border-radius: 1em;
      backdrop-filter: blur(5px) saturate(200%);
      -webkit-backdrop-filter: blur(7px) saturate(200%);
      background-color: rgba(69, 77, 84, 0.69);
      z-index: 7;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);

      .modal {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .platform-container {
          width: 100%;
          padding: 1em;

          .header {
            @include header();
          }

          .platforms {
            @include gird(10em);
            width: 95%;
            margin: 1em auto;

            .platform {
              width: 100%;
              display: flex;
              align-items: center;
              padding: 0.4em;
              border-radius: 2em;
              cursor: pointer;

              .platform-img {
                @include imageCircle();
              }

              p {
                font-size: 1.4rem;
                margin-left: 0.5em;
              }
            }

            .platform:hover {
              background-color: rgba($secondary-color, 0.2);
            }
          }
        }
        a {
          color: white;
        }

        .prepaid-container {
          width: 100%;
          padding: 1em;

          .header {
            @include header();
          }

          .platforms {
            @include gird(10em);
            width: 95%;
            margin: 1em auto;

            .platform {
              width: 100%;
              display: flex;
              padding: 0.4em;
              flex-direction: column;
              align-items: center;
              cursor: pointer;

              .platform-img {
                width: 8em;
                height: 4em;
                overflow: hidden;
              }
            }
          }
        }
      }
    }

    .trending-section {
      margin: 0 auto;
      padding: 0 1em;

      .trending-header {
        // background-color: red;
        width: min(70em, 100%);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        p {
          font-size: 1.9rem;
          color: $secondary-color;
          font-weight: 500;
        }

        .trending-btn {
          padding: 0.4em 0.5em;
          border: 1px solid rgba($secondary-color, 0.4);
          font-size: 1.3rem;
          color: $secondary-color;
          background-color: rgba($secondary-color, 0.07);
          border-radius: 0.3em;
        }
      }

      .trending-container {
        width: min(70em, 100%);
        @include gird(20em);
        margin: 2em auto;

        .game-card {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          position: relative;

          .game-img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 0.74em;
            overflow: hidden;
            cursor: pointer;
          }

          .game-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $secondary-color;
            text-transform: capitalize;

            p:first-child {
              font-size: 1.4rem;
              cursor: pointer;
            }

            p:last-child {
              font-size: 1.8rem;
            }
          }
        }

        #sengoku-card::after {
          content: "-26%";
          position: absolute;
          bottom: 12%;
          left: 0;
          border-bottom: 29px solid rgb(255, 84, 0);
          border-right: 10px solid transparent;
          height: 5px;
          width: 57px;
          border-radius: 0.3em;
          display: flex;
          justify-content: center;
          color: white;
          font-weight: 500;
        }

        #horse-card::after {
          content: "-23%";
          position: absolute;
          bottom: 12%;
          left: 0;
          border-bottom: 29px solid rgb(255, 84, 0);
          border-right: 10px solid transparent;
          height: 5px;
          width: 57px;
          border-radius: 0.3em;
          display: flex;
          justify-content: center;
          color: white;
          font-weight: 500;
        }

        #remnant-card::after {
          content: "-30%";
          position: absolute;
          bottom: 12%;
          left: 0;
          border-bottom: 29px solid rgb(255, 84, 0);
          border-right: 10px solid transparent;
          height: 5px;
          width: 57px;
          border-radius: 0.3em;
          display: flex;
          justify-content: center;
          color: white;
          font-weight: 500;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .utility-container {
    margin-top: 1em;

    .utility-bar {
      // overflow: visible !important;

      .options {
        .ham-bar {
          display: block;
          margin-left: 1em;
        }

        .option-item {
          display: none;
        }
      }
    }
  }

  .game-card {
    margin: 1.2em auto;
  }
}
